<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Convention</h4>
                        <p class="card-category">List des Conventions pour Valider</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                <th>ID</th>
                                <th>Nom Entreprise</th>
                                <th>Date Début</th>
                                <th>Date Fin</th>
                                <th>Adresse</th>
                                <th>Num Téléphone</th>
                                <th>Nom Encadrant</th>
                                <th>Email Encadrant</th>
                                <th>Validité</th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let convention of conventions">
                                    <td>{{ convention.id_Convention }}</td>
                                    <td>{{ convention.nom_entreprise }}</td>
                                    <td>{{ convention.date_debut | date: 'shortDate' }}</td>
                                    <td>{{ convention.date_fin | date: 'shortDate' }}</td>
                                    <td>{{ convention.adresse }}</td>
                                    <td>{{ convention.num_tel }}</td>
                                    <td>{{ convention.nom_encadrant }}</td>
                                    <td>{{ convention.email_encadrant }}</td>
                                    <td>
                                        {{ convention.is_valid ? 'Validated' : 'Not Validated' }}
                                    </td>

                                    <td>
                                        <button *ngIf="!convention.is_valid" (click)="validateConvention(convention.id_Convention)" class="btn btn-success btn-sm">Validate</button>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
