<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-dark-red" id="sidebar" [class.toggled]="!isSidebarOpen">
    <div class="sidebar-header d-flex justify-content-between align-items-center">
      <img src="/assets/logo.png" [sizes]=200 alt="Logo" class="img-fluid">
      <button class="btn" id="menu-toggle" (click)="toggleSidebar()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div ngbNav class="nav-items" #nav="ngbNav" orientation="vertical">

      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-link">Comptes</a>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-link">Conventions</a>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-link">Journal</a>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-link">Sujet</a>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink routerLink="/post" class="nav-link">Forum</a>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-link">Reclamation</a>
      </ng-container>
      <ng-container ngbNavItem class="account-dropdown">
        <a ngbNavLink class="nav-link dropdown-toggle" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Account
        </a>
        <ul class="dropdown-menu" aria-labelledby="accountDropdown">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </ng-container>

    </div>
  </div>


  <!-- Page content wrapper -->

</div>
