<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-dark-red" id="sidebar" [class.toggled]="!isSidebarOpen">
    <div class="sidebar-header d-flex justify-content-between align-items-center">
      <img src="/assets/logo.png" [sizes]=200 alt="Logo" class="img-fluid">
      <button class="btn" id="menu-toggle" (click)="toggleSidebar()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div ngbNav class="nav-items" #nav="ngbNav" orientation="vertical">
      <ng-container ngbNavItem class="account-dropdown">
        <a ngbNavLink class="nav-link dropdown-toggle" id="comptesDropdown" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
          Comptes
        </a>
        <ul class="dropdown-menu" aria-labelledby="comptesDropdown">
          <li><a class="dropdown-item" [routerLink]="['/admins']">All users</a></li>
          <li><a class="dropdown-item" [routerLink]="['/admins/add']">Add user</a></li>
        </ul>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-link">Conventions</a>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-link">Journal</a>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-link">Sujet</a>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-link">Forum</a>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-link">Reclamation</a>
      </ng-container>
      <ng-container ngbNavItem class="account-dropdown">
        <a ngbNavLink class="nav-link dropdown-toggle" id="accountDropdown" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
          Account
        </a>
        <ul class="dropdown-menu" aria-labelledby="accountDropdown">
          <li><a class="dropdown-item" [routerLink]="['/admins/profile']">Profile</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a (click)="logout()" class="dropdown-item">Logout</a></li>
        </ul>
      </ng-container>
    </div>
  </div>


  <!-- Page content wrapper -->
  <div id="page-content-wrapper" [class.toggled]="isSidebarOpen">
    <h1 class="mt-4">Admin Dashboard</h1>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


